* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Serif', serif;
}

.container {
    width: 1500px;
    font-size: 20px;
    font-weight: 300;
    margin-top: 100px;
    margin: auto;
}

header {
    height: 450px;
    padding: 80px;
    background-color: #ececec;
    background: cover;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    color: #5f5f5f;
    border-radius: 8px;
}

.profile-pic {
    width: 300px;
    height: 300px;
    border: 2px solid rgb(73, 73, 73);
    border-radius: 100%;
    margin: auto;
}

.description {
    text-align: left;
    padding: 0 50px;
}

h2, p {
    margin-bottom: 15px;
}

.projects {
    height: 100%;
    background-color: #5f5f5f;
    color: #ececec;
    margin-top: 40px;
    border-radius: 8px 8px 0 0;
    padding: 80px;
}

.projects-title {
    text-align: center;
    margin-bottom: 60px;;
}

.projects1, .projects2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.example-pic {
    width: 400px;
    height: 300px;
    border: 2px solid #ececec;
    margin-left: 10%;
}

.single-project{
    width: 500px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}

span, p {
    margin: 20px 0 20px 0;
}

a {
    color: rgb(9, 230, 230);
    text-align: none;
    margin-top: 10px;
}




/* Big tablet to 1200px (widths smaller than the 1140px row)*/
@media only screen and (max-width: 1200px) {
    .container {
        width: 1100px;
        font-size: 16px;
        font-weight: 300;
        margin-top: 100px;
        margin: auto;
    }

    header{
        padding: 50px;
    }
    .projects {
        padding: 40px;
    }
}

/* Small tablets to big tablet: from 768 to 1023px*/
@media only screen and (max-width: 1023px) {
    .container{
        width: 800px;
    }
    header {
        flex-direction: column;
        height: 650px;
    }
    .profile-pic {
        width: 200px;
        height: 200px;
        border: 2px solid rgb(73, 73, 73);
        border-radius: 100%;
        margin: auto;
    }

    .projects1, .projects2 {
        flex-direction: column;
        justify-content: center;
        align-items:center
    }
}

/* Small phones to small tablets: from 481 to 767px*/
@media only screen and (max-width: 767px) {
    .container{
        width: 380px;
    }

    header {
        height: 1100px;
        padding: 20px;
    }

    .single-project {
        width: 360px;
    }

    .example-pic {
        width: 250px;
        height: 200px;
        margin-left: 15%;
    }
}
